/* 
Font-Family: 'Roboto', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Droid Serif', Serif;
Font-Size: 15px;
*/

/* Header */

html{
    font-size: 14px;
    font-family: 'Droid Serif', Serif;
}

header {
    width:100%;
    min-height: 25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(gabriel-s-l1sqXJXBgd0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: solid 1px #013040;
}


header h1 {
    font-size: 7rem;
    font-family: 'Roboto', 'sans-serif';
    color: white;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 20px;
    border-radius: 0.2rem;
    font-weight: 100;
    border: 1px white solid;
}

/* NAV */

nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 1rem;
}
nav div {
    background-color: hsla(0, 0%, 100%, 0.7);
    text-align: center;
    padding: 0.5rem;
    margin-right: 2rem;
    border-radius: 5px;
}
nav div:hover {
    background-color: lime;
    height: 30px;
}
nav a {
    color: black;
    text-transform: uppercase;
}
 /* Intro 

 .intro {
     height: auto;
     width: 100%;
     background-color: rgb(253, 188, 176);
     text-align: center;
     display: flex;
     align-content: center;
     flex-wrap: wrap;
     margin-bottom: 0;
 }
 .intro p {
     color: black;
     font-size: 1.5rem;
     margin: 1rem;
 }
 */

 /* Upcoming Trips */

.upcoming-trips {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.upcoming-trips h2 {
    width: auto;
    height: 2.5rem;
    margin: 0;
    background-color: rgb(253, 188, 176);
    font-family: 'Roboto', 'Sans-serif';
    font-size: 2rem;
    float: left;
    border-top: solid 1px #013040;
    border-bottom: solid 1px #013040;
}
.destinations {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}
.destinations div {
    height: 30rem;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.destinations div img {
    max-width: 15rem;
    border-radius: 3rem;
    padding: 1rem;
    border: 1px black dotted;
    margin-bottom: 1rem;
}
.destinations div h3 {
    font-size: 2rem;
    font-family: 'Roboto';
    color:black;
    text-decoration: none;
    margin: 0;
}
.destinations div p {
    margin: 0;
}

/* How */

.how-it-works {
    width: auto;
    height: auto;
    margin: 0;
}
.how-it-works h2 {
    width: 100%;
    height: 2.5rem;
    margin: 0;
    background-color: rgb(253, 188, 176);
    font-family: 'Roboto', 'Sans-serif';
    font-size: 2rem;
    float: left;
    border-top: solid 1px #013040;
    border-bottom: solid 1px #013040;
    margin-bottom: 2rem;
   
}
.how-it-works li {
    font-size: 1.5rem;
    clear: left;
}

/* Testimonials */

.testimonials {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.testimonials h2 {
    width: auto;
    height: 2.5rem;
    margin: 0;
    background-color: rgb(253, 188, 176);
    font-family: 'Roboto', 'Sans-serif';
    font-size: 2rem;
    float: left;
    border-top: solid 1px #013040;
    border-bottom: solid 1px #013040;
}
.quotes {
    width: auto;
    height: auto;
    display: flex;
}
.quotes div {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    justify-content: space-around;
}
.quotes div p1 {
    font-size: 1.5rem;
}

/* Membership */

.membership h2 {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2rem;
    background-color: rgb(253, 188, 176);
    font-family: 'Roboto', 'Sans-serif';
    font-size: 2rem;
    float: left;
    border-top: solid 1px #013040;
    border-bottom: solid 1px #013040;
}
.form {
    height: auto;
    display: grid;
    max-width: 1000px;
    grid-template-columns: 400px 600px;
    grid-template-rows: 50px 200px 50px;
    grid-template-areas: "name location"
                        "info-label info-box"
                        "submit submit";
    border: black solid 1px;
}


form .name {
    grid-area: name;
}
form .location {
    grid-area: location;
}
.info label {
    grid-area: info-label;
}
.info textarea {
    grid-area: info-box;
}
form .submit {
    grid-area: submit;
}




.stupid {
    height: 300px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "red red orange orange orange"
                        "red red yellow green green"
                        "blue blue yellow purple purple"
                        "blue blue yellow purple purple"
}
#red {
    grid-area: red;
    background-color: red;
}
#orange {
    grid-area: orange;
    background-color: orange;
}
#yellow {
    grid-area: yellow;
    background-color: yellow;
}
#green {
    grid-area: green;
    background-color: green;
}
#blue {
    grid-area: blue;
    background-color: blue;
}
#purple {
    grid-area: purple;
    background-color: purple;
}



